.puzzle{
      background-color: #282c34;
      width: 200px;
      height: 100vh;
}
body{
    background-color: #282c34;
}

.puzzle-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Title{
   color:white;
   position: relative;
   justify-content: center;
   top:70px;
   left:580px;
}
.grid-container{
border: 4px solid #61dafb;
width: 300px;
height: 300px;
position: relative;
left:480px;
top: 100px;
display: grid;

}
.image-container{
     width: var(--tileW);
  height: var(--tileH);
  
  background-size: calc(var(--tileW) * 3) calc(var(--tileH) * 3);
  background-position: 0 0;
}
.puzzle-container{
    position: relative;
    top: 400px;
    left: 540px;
}